@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    border: none; outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition:  all .2s linear;
}


:root {
    --green: #004743;
    --light-gray: #74ca4d;
    --yellow: #fbd103;
    --gray: #e7e7e7;
    --white-gray: #f7f7f7;
    --dark: #323232;
    --blue: #5bc8e8;
    --box-shadow: 0 .5rem 1.5rem rgb(0,0,0, .1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--green);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo span {
    color: var(--yellow);
}

header .navbar a {
    color: var(--dark);
    font-size: 1.5rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--green);
}


header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
    color: var(--dark);
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

#search2 {
    display: none;
}

#search3 {
    display: none;
}




/* media query */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgb(0,0,0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        background: #eee;
        font-size: 2rem;
    }

    #search {
        display: none;
    }


    #search3 {
        display: block;
        width: 98%;
        max-width: 98%;
        background: #eee;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        color: var(--dark);
        /* font-size: 1.5rem; */
        /* padding: .5rem 2rem; */
        border-radius: .5rem;
        height: 40px;
    }

    #search-form #search-box::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

}

@media (max-width: 991px) {
    html {
        font-size: 47%;
    }

    #search-form #search-box::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

@media (max-width: 500px) {
    #search3 {
        width: 97%;
    }

    #search-form #search-box::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

@media (max-width: 300px) {
    #search3 {
        width: 95%;
    }

    #search-form #search-box::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}


/* End Of Header  */


/* search-form */

#search-form {
    position: fixed;
    top: -110%; left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgb(0,0,0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 40rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 2rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
    font-size: 2rem;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

#search-form label:hover {
    color: var(--yellow);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 4rem;
}

#search-form #close:hover {
    transform: rotate(180deg);
}



/* End Of Search-Form */



/* Explore content  */

#container {
    width: 100%;
    height: 100vh;
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#container  .content {
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
}

.text-content {
    margin-right: 200px;
    font-size: 2rem;
    color: var(--dark);
    /* padding: 20px; */
    margin-top: 70px;
}

.text-content p {
    text-transform: uppercase;
    font-size: 2rem;
    opacity: calc(70%);
    letter-spacing: 1px;
    padding: 10px;
    animation: blur 1s ease 0s 1 normal none;
}

@keyframes blur {
    0%{
        letter-spacing:1em;
        filter:blur(12px);
        opacity:0;
    }
    100%{
        filter:blur(0);
        opacity:1;
    }
}

.text-content h1 {
    font-size: 6rem;
    padding: 10px;
    animation: rotate 1s ease 0s 1 normal none;
}

@keyframes rotate {
    0%{
        transform:scaleX(2);
        filter:blur(4px);
        opacity:0;
    }
    100%{
        transform:scaleX(1);
        filter:blur(0);
        opacity:1;
    }
}



.text-content button {
    font-size: 2rem;
    padding: 10px;
    animation: img 2s ease 0s none;
}

.text-content button a {
    text-decoration: none;
    color: var(--gray);
    background: var(--green);
    padding: 5px 30px;
    border-radius: 10px 30px;
    transition: all .5s;
}

.text-content button a:hover {
    letter-spacing: 3px;
    background: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 10px 30px;
}


.img-content {
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
    animation: img 1s ease 0s none;
}

@keyframes img {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.img-content img {
    width: 90px;
    margin: 20px;
}

.img-content .back-girl {
    width: 370px;
    height: 370px;
    margin-top: 50px;
    display: flex;
}

.img-content .imgs {
    position: absolute;
}

.imgs .girl-1 {
    width: 180px;
    margin-top: 50px;
}

.imgs .girl-2 {
    width: 140px;
    position: absolute;
    transform: translateX(-320px);
}

.imgs .girl-3 {
    width: 140px;
    transform: translateX(-50px);
}


/* media query */


@media (max-width: 991px) {
    #container {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    .content {
        margin: 10px;
    }

    .text-content {
        margin-right: 30px;
        margin-top: 100px;
    }

    .text-content h1 {
        font-size: 5rem;
    }

    .img-content img {
        width: 70px;
        margin: 10px;
        padding: 19px;
    }

    .imgs .girl-2 {
        width: 160px;
        position: absolute;
        transform: translateX(-280px);
        margin-top: 20px;
    }

    .imgs .girl-3 {
        /* margin-top: -390px; */
        width: 150px;
        /* transform: translateY(-500px); */
        transform: translateX(-20px);
    }
}


@media (max-width: 768px) {
    #container {
        width: 100%;
        height: 160vh;
    }


    #container  .content {
        display: flex;
        flex-direction: column-reverse;
        /* padding: 20px; */
    }


    .text-content {
        margin-right: 10px;
        margin-left: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 5px;
        overflow: hidden;
    }

    .text-content p {
        font-size: 3rem;
        padding: 2px;
    }

    .text-content h1 {
        font-size: 6rem;
    }

    .img-content img {
        padding: 8px;
    }

    .imgs .girl-2 {
        width: 160px;
        position: absolute;
        transform: translateX(-280px);
        margin-top: 5px;
    }

    .imgs .girl-3 {
        margin-top: 30px;
        width: 150px;
        /* transform: translateY(-500px); */
        transform: translateX(-20px);
    }
}



@media (max-width: 500px) {
    #container {
        width: 100%;
        height: 95vh;
    }

    .text-content {
        margin-top: 30px;
    }



    .img-content .back-girl {
        width: 370px;
        height: 370px;
        margin-top: 50px;
        display: flex;
    }

    .imgs .girl-1 {
        width: 200px;
        margin-top: 50px;
        margin-left: 20px;
    }
    
    .imgs .girl-2 {
        width: 170px;
        position: absolute;
        transform: translateX(-100px);
        margin-top: -450px;
    }
    
    .imgs .girl-3 {
        margin-top: -390px;
        width: 170px;
        transform: translateY(-500px);
        transform: translateX(160px);
    }

    .img-content img {
        padding: 20px;
    }


    .text-content p {
        font-size: 2rem;
        padding: 2px;
        margin-bottom: -10px;
    }

    .text-content h1 {
        font-size: 5rem;
    }

    .text-content button a {
        font-size: 3rem;
    }


}







@media (max-width: 300px) {
    #container {
        width: 100%;
        height: 102vh;
    }

    .text-content {
        margin-top: 30px;
    }



    .img-content .back-girl {
        width: 300px;
        height: 300px;
        margin-top: 50px;
        display: flex;
    }

    .imgs .girl-1 {
        width: 190px;
        margin-top: 50px;
    }
    
    .imgs .girl-2 {
        width: 170px;
        position: absolute;
        transform: translateX(-140px);
        margin-top: -350px;
    }
    
    .imgs .girl-3 {
        margin-top: -330px;
        width: 170px;
        transform: translateY(-500px);
        transform: translateX(100px);
    }

    .img-content img {
        padding: 40px;
    }


    .text-content p {
        font-size: 1.5rem;
        padding: 2px;
        margin-bottom: -10px;
    }

    .text-content h1 {
        font-size: 3rem;
    }

    .text-content button a {
        font-size: 1.5rem;
    }

}





