@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    border: none; outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition:  all .2s linear;
}


:root {
    --green: #004743;
    --light-gray: #74ca4d;
    --yellow: #fbd103;
    --gray: #e7e7e7;
    --white-gray: #f7f7f7;
    --dark: #323232;
    --blue: #5bc8e8;
    --box-shadow: 0 .5rem 1.5rem rgb(0,0,0, .1);
}

header {
    position: fixed;
    width: 100%;
    height: 9vh;
    /* background: #eee; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 1004;
}

header .logo {
    font-size: 25px;
    font-weight: bold;
    color: var(--green);
}

.logo span {
    color: var(--yellow);
}

.navbar {
    font-size: 16px;
}

.navbar a.active {
    background: var(--green);
    color: #fff;
}

.navbar a {
    display: inline-block;
    padding: 5px 15px;
    color: var(--dark);
    border-radius: 5px;
}

.navbar a:hover {
    background: var(--green);
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
}

#search3 {
    display: none;
}


header .icons i,
header .icons a  {
    cursor: pointer;
    color: var(--dark);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #eee;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
}

header .icons i:hover,
header .icons a:hover {
    background: var(--green);
    color: #fff;
    transform: rotate(360deg);
}


header #menu-bars {
    display: none;
}



/* search-form  */


#search-form {
    position: fixed;
    top: -110%; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0, .8);
    z-index: 1004;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 400px;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: .5rem 0;
    background: none;
    font-size: 20px;
}

#search-form #search-box::placeholder {
    columns: #eee;
    font-size: 20px;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    cursor: pointer;
    color: #fff;
    font-size: 26px;
}

#search-form label:hover {
    color: var(--green);
}

#search-form #close {
    cursor: pointer;
    position: absolute;
    top: 30px;  right: 40px;
    color: #fff;
    font-size: 38px;
}

#search-form #close:hover {
    transform: rotate(180deg);
}


/* media query */




@media (max-width: 900px) {
    body {
        font-size: 15px;
    }

    header {
        padding: 30px;
        height: 7vh;
    }

    .navbar a {
        padding: 5px 10px;
    }
} 









@media (max-width: 768px) {
    #search {
        display: none;
    }

    header {
        padding: .5rem 1rem;
    }

    header .logo {
        font-size: 25px;
    }

    .navbar {
        background: #fff;
    }


    header #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0; right: 0;
        padding: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        font-size: 16px;
        display: block;
        background: #eee;
        margin: 5px;
        padding: 9px 15px;
    }

    header #search3 {
        display: none;
    }
}






@media (max-width: 425px) {

    header {
        padding: 10px 10px;
    }

    header .logo {
        font-size: 20px;
    }

    header .navbar {
        top: 110%;
    }

    header .icons i,
header .icons a  {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 1px;
}

}


/* End Of Header  */



/* Container */



#container {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.text-content {
    width: 500px;
    padding: 10px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 900;
}

.text-content p {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-content h1 {
    /* width: 300px; */
    font-size: 56px;
    margin-bottom: 10px;
}

.content button {
    margin-top: 10px;

}

.content button a {
    font-size: 20px;
    background: var(--green);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px 50px;
}

.content button a:hover {
    background: none;
    color: var(--green);
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 30px;
    border: 1px solid var(--green);
}


.img-content {
    position: relative;
    display: flex;
    flex-direction: row;
    /* margin-left: 300px; */
    margin-top: 70px;
    transform: translateX(160px);
    overflow-x: hidden;
    z-index: 900;
}

.back-girl {
    width: 400px;
    height: 400px;
}

.imgs img{
    width: 400px;
    transform: translateX(-400px);
    z-index: 100;
}


/* media Query */

@media (max-width: 900px) {

    #container {
        width: 100%;
        height: 70vh;
    }

    .text-content {
        width: 350px;
    }

    .text-content p {
        font-size: 18px;
    }

    .text-content h1 {
        font-size: 40px;
    }

    .content button a  {
        font-size: 16px;
    }

    .img-content {
        margin-top: 70px;
        transform: translateX(40px);
        overflow-x: hidden;
    }
    
    .back-girl {
        width: 300px;
        height: 300px;
    }
    
    .imgs img{
        width: 300px;
        transform: translateX(-300px);
    }


}





@media (max-width: 768px) {

    #container {
        width: 100%;
        height: 80vh;
    }

    header {
        height: 6vh;
    }


    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 70px;
    }

    .img-content {
        margin-top: 30px;
        transform: translateX(130px);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .back-girl {
        width: 300px;
        height: 300px;
    }
    
    .imgs img{
        width: 300px;
        transform: translateX(-300px);
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -30px;
    }






}


@media (max-width: 500px) {
    .content {
        margin-left: -70px;
    }
}







@media (max-width: 425px) {

    header {
        height: 6vh;
    }

    #container {
        width: 100%;
        height: 80vh;
    }

    .content {
        margin-left: -45px;
    }

    .text-content {
        margin-left: -80px;
    }

    .text-content h1 {
        font-size: 30px;
    }

    .img-content {
        margin-top: 30px;
        transform: translateX(100px);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .back-girl {
        width: 270px;
        height: 270px;
    }
    
    .imgs img{
        width: 270px;
        transform: translateX(-270px);
    }


}


@media (max-width: 375px) {

    
    #container {
        width: 100%;
        height: 90vh;
    }

    .content {
        margin-left: -66px;
    }







}

@media (max-width: 360px) {

    #container {
        width: 100%;
        height: 80vh;
    }

    .content {
        margin-left: -79px;
    }


}





