@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    border: none; outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition:  all .2s linear;
}


:root {
    --green: #004743;
    --light-gray: #74ca4d;
    --yellow: #fbd103;
    --gray: #e7e7e7;
    --white-gray: #f7f7f7;
    --dark: #323232;
    --blue: #5bc8e8;
    --box-shadow: 0 .5rem 1.5rem rgb(0,0,0, .1);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Header */


header {
    position: relative;
    top: 0; left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 70px;
    background: #fff;
    padding: 20px 10px;
    box-shadow: var(--box-shadow);
    z-index: 1001;
}

header  .logo {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--green);
}

header .logo span {
    color: var(--yellow);
}


header .navbar a {
    font-size: 1.9rem;
    color: var(--dark);
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 8px;
}

.navbar a:hover {
    background: var(--green);
    color: var(--white-gray);
    padding: 5px 10px;
}

.navbar a.active {
    background: var(--green);
    color: var(--white-gray);
}

.navbar #search3 {
    display: none;
}


header .icons i,
header .icons a {
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    margin: 5px;
    font-size: 1.7rem;
    color: var(--dark);
    background: #ddd;
    /* padding: 10px 10px; */
    border-radius: 50%;
    cursor: pointer;
}

header .icons i:hover,
header .icons a:hover {
    background: var(--green);
    color: var(--white-gray);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

@media(max-width: 900px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media(max-width: 768px) {

    header {
        padding: .5rem .5rem;
    }

    header .icons #search {
        display: none;
    }

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        max-width: 100%;
        height: 100vh;
        position: absolute;
        top: 108%; left: 0; right: 0;
        /* background: var(--white-gray); */
        background: #333;
        padding: 13px 20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        text-align: start;
        font-size: 3rem;
        padding: 10px;
        margin: 10px 2px;
        background: var(--gray);
    }

    header .navbar a:hover {
        padding: 10px;
    }


}

@media(max-width: 480px) {
    header {
        padding: 1rem 1rem;
    }

    header .navbar a {
        font-size: 2rem;
    }
}

@media(max-width: 375px) {
    html {
        font-size: 45%;
    }
}

@media(max-width: 290px) {
    html {
        font-size: 35%;
    }

    header {
        height: 50px;
    }
}



/* end of header  */




/* search form  */

#search-form {
    position: absolute;
    top: -110%; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #323232;
    z-index: 1004;
}

#search-form.active {
    top: 0;
}

#search-box {
    width: 40rem;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
}

#search-form label {
    font-size: 3rem;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
} 

#search-form label:hover {
    color: var(--yellow);
}

#search-box::-webkit-search-cancel-button {
    -webkit-appearance: none
}

#search-form #close {
    position: absolute;
    top: 20px; left: 10;
    right: 30px;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    /* transition: all 1s; */
}

#search-form #close:hover {
    transform: rotate(360deg);
}


#search-form input::placeholder {
    font-size: 2rem;
}

/* end of search box  */


/* Container  */


#container img {
    width: 400px;
}

#container .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-content {
    margin-top: 130px;
}

#container .text-content p {
    font-size: 2.5rem;
    color: rgba(41, 41, 41, 0.712);
}

#container .text-content h1 {
    font-size: 6rem;
    margin-bottom: 15px;
}


#container .content .img-content {
    display: flex;
    position: relative;
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
}

#container .content .img-content .back-girl {
    position: relative;
}

#container .content .img-content .girls {
    position: absolute;
}

#container button a {
    text-decoration: none;
    font-size: 2rem;
    padding: 6px 20px;
    border-radius: 3px 30px 3px 30px;
    color: var(--white-gray);
    background: var(--green);
    cursor: pointer;
}

#container button a:hover {
    letter-spacing: 3px;
}


/* media query container  */

@media(max-width: 992px) {
    #container img {
        width: 300px;
    }


    #container .text-content p {
        font-size: 2rem;
    }

    #container .text-content h1 {
        font-size: 5rem;
    }

    #container .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }



}

@media(max-width: 768px) {


    #container img {
        width: 250px;
    }

    #container .content {
        padding: 2px 20px;
    }

    .text-content {
        margin-top: 60px;
    }


    #container .text-content p {
        font-size: 2rem;
    }

    #container .text-content h1 {
        font-size: 4rem;
    }

    #container button a {
        font-size: 1rem;
    }

    #container .content .img-content {
        margin-top: 19px;
    }

    header .navbar a {
        font-size: 2rem;
    }
}


@media(max-width: 568px) {

    #container img {
        width: 230px;
    }

    #container .text-content p {
        font-size: 1.5rem;
    }

    #container .text-content h1 {
        font-size: 3rem;
    }
}



@media(max-width: 480px) {

    #container .content {
        display: flex;
        flex-direction: column;
    }

    #container img {
        margin-top: 20px;
        width: 300px;
    } 

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #container .text-content p {
        font-size: 2rem;
        margin-bottom: 5px;
    }

    #container .text-content h1 {
        font-size: 5rem;
    }

    #container button a {
        font-size: 2rem;
    }
}





@media(max-width: 375px) {
    #container .text-content p {
        font-size: 2rem;
    }

    #container .text-content h1 {
        font-size: 4rem;
    }

    #container button a {
        font-size: 1.5rem;
    }

    #container img {
        width: 260px;
    } 

    .text-content {
        margin-top: 100px;
    }
    
}

@media(max-width: 290px) {

    .text-content {
        margin-top: 20px;
    }

    #container img {
        width: 230px;
    } 
}

/* end of container  */


/* Service Icons  */

.service-icons {
    width: 100%;
    height: 100px;
    margin-top: 200px;
    /* background: #ddd; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.service-icons div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.service-icons div i {
    color: var(--light-gray);
}

.service-icons div p {
    font-weight: 700;
    color: var(--dark);
    padding: 2px 10px;
}

@media(max-width: 992px) {
    .service-icons{
        margin-top: 100px;
    }
}

@media(max-width: 768px) {

    .service-icons{
        margin-top: 100px;
    }

    .service-icons div {
        font-size: 1rem;
    }
}

@media(max-width: 480px) {
    .service-icons {
        display: flex;
        flex-direction: column;
        height: 330px;
        margin-top: 100px;
    }

    .service-icons div {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
    }
}

